
<section class="about-us">
    <div class="info">

        
        <h2>About Kian Virgin Hair</h2>
        <div >

            <p class="desc-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti illum eligendi illo a vitae quidem?</p>
            <br>
            <p class="desc-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ea?</p>
            
            <button>read more&nbsp; <i class="lni lni-arrow-right"></i></button>
        </div>
    </div>
</section>
    



