<footer>
    <!-- <img src="" alt="logo"> -->
    <div class="contact-details">
        <p>phone: +27 81 543 3859 </p>
        <p>&#64;nashanyamwanza</p>
        <address>283 Pretoria ave,<wbr> Ferndale, Randburg,<wbr> South Africa</address>
    </div>

    <div class="social-navs">
        <a title="whatsapp" class="social-navs__item" href="https://wa.me/0815433859?text=Hi"><i class="lni lni-whatsapp" ></i></a>
        <a title="instagram" class="social-navs__item" href="https://www.tiktok.com/@nyashanyamwanza?_t=8qvXksUNVjx&_r=1"><i class="lni lni-tiktok"></i></a>
        <!-- <a title="email" class="social-navs__item" href="mailto:zvirimeMary@gmail.com"><i class="lni lni-envelope"></i></a> -->
    </div>
    <p class="copyright">&copy; 2024 kian Virgin hair . All rights reserved.</p>
</footer>


<style>

</style>