/* You can add global styles to this file, and also import other style files */

:root{
    --primary-color: red;
    --secondary-color: #ff7f7f;
    --tertiary-color: rgb(79, 43, 43);
    --white-color: #fde8e8;
    --black-color: #1c1c1c;
    --gray-color: #e9e6e6;

    --border-radius: 5px;
    
    --basic-font: "Urbanist", sans-serif;
    --heading-font: "Noto Serif Display", serif;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desc-text, p, address, button,li,a, label, input{
    font-size: 1rem;
    line-height: 1.7;
    max-width: 60ch;

    font-family: var(--basic-font);
    font-optical-sizing: auto;
    font-style: normal;
}

h3{
    font-size: 1rem;
    font-family: var(--basic-font);
    font-weight: 800;
    font-style: normal;

}

h2{
    font-size: 2.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
    font-style: normal;
   
}

.huge-text{
    font-family: var(--basic-font);
    font-weight: 800;
    padding: 1rem 5%;
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 60ch;
    
}

